/* fonts */
@font-face {
  font-family: Raleway-Bold; 
  src: url(../fonts/Raleway/Raleway-Bold.ttf); 
}

@font-face {
  font-family: Raleway-Light; 
  src: url(../fonts/Raleway/Raleway-Light.ttf); 
}

@font-face {
  font-family: Raleway-Medium; 
  src: url(../fonts/Raleway/Raleway-Medium.ttf); 
}

@font-face {
  font-family: Raleway-SemiBold; 
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf); 
}

@font-face {
  font-family: Raleway-Thin;
  src: url(../fonts/Raleway/Raleway-Thin.ttf);
}


/* transitions */
.transitionBg() {
          transition: background-color .25s ease-in-out;
     -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

.transitionFilter() {
          transition: -webkit-filter .25s ease-in-out;
     -moz-transition: -webkit-filter .25s ease-in-out;
  -webkit-transition: -webkit-filter .25s ease-in-out;
}

.transitionBorder() {
          transition: border .25s ease-in-out;
     -moz-transition: border .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out;
}